    body {
        background-color: gray;
    }

    p {
        color: black;
        font-family: sans-serif;
    }
h1 {
font-family: sans-serif;
 color: gray;
}
h2 {
  font-family: sans-serif;
}
h3 {
font-family: sans-serif;
}
